body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.navbar {
    background-color: transparent;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.brand {
    font-size: 1.5rem;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    padding: 0 15px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #ffcc00;
}

.content {
    margin-top: 100px; /* Adjust according to the height of your header */
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        padding: 10px;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .menu-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
    }
}
